In [1]:
import json
import glob
import os
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
# DIR = '/home/tarlis/Research/tarlis/results/'
DIR = './../results/'

In [3]:
def redefine_dataframe(df):
#     names = df.columns.tolist()
#     new = []
#     names.remove('tid')
#     names.remove('label')
#     names.remove('size')
#     names.remove('quality')
#     names.remove('movelet_id')
#     print(names)
#     for x in names:
#         new.append(x.split('.')[0])
#     new.append('tid')
#     new.append('label')
#     new.append('size')
#     new.append('quality')
#     new.append('movelet_id')
#     df.columns = new
    df = df.fillna('-')
    return df

In [31]:
def movelets_dataframe(path_name):
    count = 0
    path_to_file = glob.glob(os.path.join(path_name, '**', 'moveletsOnTrain.json'), recursive=True)
    df = pd.DataFrame()
    for path in path_to_file:
        with open(path) as f:
            data = json.load(f)    
        l = len(data['shapelets'])
        for x in range(0, l):
            aux_df = []
            
            points = data['shapelets'][x]['points_with_only_the_used_features']
            aux_df = json_normalize(points)
            
            aux_df['tid'] = data['shapelets'][x]['trajectory']
            aux_df['label'] = data['shapelets'][x]['label']
            aux_df['size'] = int(data['shapelets'][x]['quality']['size'])
            aux_df['quality'] = int(data['shapelets'][x]['quality']['quality'] * 100)
            aux_df['movelet_id'] = count
            df = df.append(aux_df)
            count += 1
#     print(df)
    return redefine_dataframe(df)
## remover iguais?
def candidates_dataframe(path_name):
    count = 0
    path_to_file = glob.glob(os.path.join(path_name, '**', 'candidatesOnTrain.json'), recursive=True)
    df = pd.DataFrame()
    for path in path_to_file:
        with open(path) as f:
            data = json.load(f)    
        l = len(data['shapelets'])
        for x in range(0, l):
            aux_df = []
            
            points = data['shapelets'][x]['points_with_only_the_used_features']
            aux_df = json_normalize(points)
            
            aux_df['tid'] = data['shapelets'][x]['trajectory']
            aux_df['label'] = data['shapelets'][x]['label']
#             aux_df['size'] = int(data['shapelets'][x]['quality']['size'])
#             aux_df['quality'] = int(data['shapelets'][x]['quality']['quality'] * 100)
            aux_df['proportion'] = int(data['shapelets'][x]['quality']['proportion'])
            aux_df['movelet_id'] = count
            df = df.append(aux_df)
            count += 1
#     print(df)
    return redefine_dataframe(df)

In [15]:
prefix = 'SMLD-5fold_4T_60G/'
method = 'Hiper_MM-T2'
# -------------------------

path_name = DIR + prefix + method + '/'
df = movelets_dataframe(path_name)

In [7]:
prefix = 'Sinais/'
# method = 'MM-LOG'
method = 'MM-Super'
# -------------------------

path_name = DIR + prefix + method + '/'
df = movelets_dataframe(path_name)

In [32]:
prefix = 'Sinais/'
# method = 'MM-LOG'
method = 'MM-Log-ShowSuper'
# -------------------------

path_name = DIR + prefix + method + '/'
df = candidates_dataframe(path_name)

In [37]:
df.sort_values(by='proportion', ascending=False)

# f = glob.glob(os.path.join(DIR + 'MASTERMoveletsSupervised', '**', 'candidatesOnTrain.json'), recursive=True)[0]
# !head -500 $f

    signal.value  tid     label  proportion  movelet_id
0          0.818   34  Diabetes           0      231360
0          0.900   59  Controle           0       75591
0          0.916   59  Controle           0       75593
0          0.918   59  Controle           0       75594
0          0.916   59  Controle           0       75595
..           ...  ...       ...         ...         ...
0          0.868   59  Controle          -1       79187
1          0.900   59  Controle          -1       79187
2          0.866   59  Controle          -1       79187
3          0.868   59  Controle          -1       79187
7          0.832   34  Diabetes          -1      235171

[1056048 rows x 5 columns]

In [29]:
df[['quality','size']].describe()

            quality          size
count  29228.000000  29228.000000
mean      40.333687      1.134871
std       13.216193      0.726977
min        7.000000      1.000000
25%       30.000000      1.000000
50%       42.000000      1.000000
75%       52.000000      1.000000
max       62.000000      8.000000

In [29]:
a = ['label', 'tid', 'size', 'quality', 'movelet_id']
names = df.columns.tolist()
columns = [x for x in names if x not in a]
[a.append(x) for x in columns]
df2 = df[a]

# df[['label', 'tid', 'size', 'quality', columns]]

In [30]:
df2

         label  tid  size  quality  movelet_id  signal.value
0  Diabetes_id    4     1       54           0         0.716
0  Diabetes_id   22     1       54           1         0.716
0  Diabetes_id   25     1       54           2         0.716
0  Diabetes_id   30     1       54           3         0.716
0  Diabetes_id    4     1       54           4         0.716
0  Diabetes_id   13     1       54           5         0.716
0  Diabetes_id   25     1       54           6         0.716
0  Diabetes_id   25     1       54           7         0.716
0  Diabetes_id   30     1       54           8         0.716
0  Diabetes_id   22     1       54           9         0.716
0  Diabetes_id   30     1       54          10         0.716
0  Diabetes_id    4     1       54          11         0.716
0  Diabetes_id   17     1       54          12         0.716
0  Diabetes_id   32     1       54          13         0.716
0  Diabetes_id   33     1       54          14         0.716
0  Diabetes_id   25     1       54          15         0.716
0  Diabetes_id   25     1       54          16         0.716
0  Diabetes_id   25     1       54          17         0.716
0  Diabetes_id   25     1       54          18         0.716
0  Diabetes_id    4     1       54          19         0.716
0  Controle_id   59     1       62          20         0.900
0  Controle_id   76     1       62          21         0.900
0  Controle_id   47     1       62          22         0.900
0  Controle_id   56     1       62          23         0.900
0  Controle_id   59     1       62          24         0.900
0  Controle_id   67     1       62          25         0.900
0  Controle_id   69     1       62          26         0.900
0  Controle_id   56     1       62          27         0.900
0  Controle_id   59     1       62          28         0.900
0  Controle_id   77     1       62          29         0.900
0  Controle_id   66     1       62          30         0.900
0  Controle_id   56     1       62          31         0.900
0  Controle_id   59     1       62          32         0.900
0  Controle_id   50     1       62          33         0.900
0  Controle_id   56     1       62          34         0.900
0  Controle_id   59     1       62          35         0.900
0  Controle_id   69     1       62          36         0.900
0  Controle_id   67     1       62          37         0.900
0  Controle_id   69     1       62          38         0.900
0  Controle_id   47     1       62          39         0.900

In [8]:
df2.to_csv('top20movelets.csv', index=False)

In [9]:
len(df2.label.values)

568

# ------------------------------------------------------------------------------------------------------